.parant {
    margin-top: 10px;
    height: 77px;
}
.items {
    margin: 1;
    display: inline-block;
    
    width: 30px;
    height: 30px;
    background-color: #FFFF00 ;
    border: 1px solid black;
}
.items:nth-child(even) {
    background-color: #008001;
    vertical-align: middle;
}